<!DOCTYPE html>
<html lang="en">

<head>

   {{>header_links}} 

</head>

<body>
    {{!-- include navbar --}}
    {{>navbar}}
    {{!-- include navbar --}}
    
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class=" col-md-6 col-6 main_header_right align-item-center">
                        <figure>
                            <img src="images/me1.jpg" alt="ashish" class="img-fluid" title="A.K image">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p><i class="far fa-snowflake"></i> Welcome to weather website <i class="far fa-snowflake"></i></p>
                        <h1>I Am A <span class="text_color">Web Developer. </span> And College Student  </h1>
                        <a href="https://www.google.co.in/"><button>About me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    <!-- footer code -->
</body>
</html>